@model iTechArt.Survey.WebApp.Models.QuestionViewModel

@if (Model.Question.IsEdit)
{
    <div class="card" style="width: 37.5rem;" id="@Model.Question.Id">
        <div class="card-body">
            <form>
                <partial name="Questions/Shared/HeaderEditingQuestionPartial" model="@Model" />

                <input type="range" value="50" min="1" max="100" class="scale-block" oninput="this.nextElementSibling.value = this.value">
                <output>50</output>

                <partial name="Questions/Shared/FooterEditingQuestionPartial" model="@Model" />
            </form>
        </div>
    </div>
}
else
{
    <div class="card" style="width: 37.5rem; border: 0;" id="@Model.Question.Id">
        <div class="card-body">
            <partial name="Questions/Shared/HeaderQuestionPartial" model="@Model" />

            <input type="range" value="50" min="1" max="100" class="scale-block" oninput="this.nextElementSibling.value = this.value">
            <output>50</output>
        </div>
    </div>
}
