@using iTechArt.Survey.WebApp.Models
@model iTechArt.Survey.WebApp.Models.QuestionWithAnswersViewModel;


@if (Model.QuestionWithAnswers.IsEdit)
{
    <div class="card" style="width: 37.5rem;" id="@Model.QuestionWithAnswers.Id">
        <div class="card-body">
            <form>
                <partial name="Questions/Shared/HeaderEditingQuestionPartial" model="@(new QuestionViewModel() { IsQuestionHaveNumber = Model.IsQuestionHaveNumber, Number = Model.Number, Question = Model.QuestionWithAnswers}) " />

                @foreach (var answer in Model.QuestionWithAnswers.Answers)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            <input class="form-control" asp-for="QuestionWithAnswers.Answers" value="@answer" name="answers" />
                        </label>
                    </div>
                }

                <partial name="Questions/Shared/FooterEditingQuestionPartial"  model="@(new QuestionViewModel() { IsQuestionHaveNumber = Model.IsQuestionHaveNumber, Number = Model.Number, Question = Model.QuestionWithAnswers}) " />
            </form>
        </div>
    </div>
}
else
{
    <div class="card" style="width: 37.5rem; border: 0;" id="@Model.QuestionWithAnswers.Id">
        <div class="card-body">
            <partial name="Questions/Shared/HeaderQuestionPartial" model="@(new QuestionViewModel() { IsQuestionHaveNumber = Model.IsQuestionHaveNumber, Number = Model.Number, Question = Model.QuestionWithAnswers}) " />

            @foreach (var answer in Model.QuestionWithAnswers.Answers)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="@Model.QuestionWithAnswers.Id+@answer.GetHashCode()">
                    <label class="form-check-label" for="@Model.QuestionWithAnswers.Id+@answer.GetHashCode()">
                        @answer
                    </label>
                </div>
            }
        </div>
    </div>
}
