@model iTechArt.Survey.Domain.PagedEntities<iTechArt.Survey.Domain.UserInfo>

<partial name="_MenuPartial" />
<div class="add-item-block">
    <a asp-action="AddUser" asp-controller="Administration" class="btn btn-secondary btn-block">Add User</a>
</div>
<div class="items-table-block">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col" class="central-content">Role</th>
            <th scope="col" class="central-content">Registered</th>
            <th scope="col" class="central-content">Surveys (➕/✔)</th>
            <th scope="col" class="central-content">Actions</th>
        </tr>
        </thead>
        @foreach (var user in Model.Entities)
        {
            <tr>
                <td style="width: 35%">
                    @user.DisplayName
                </td>
                <td style="width: 15%" class="central-content">
                    @user.Role
                </td>
                <td style="width: 20%" class="central-content">
                    @user.RegistrationDateTime.ToShortDateString()
                </td>
                <td style="width: 15%" class="central-content">
                    @user.CreatedSurveys / @user.CompletedSurveys
                </td>
                <td style="width: 15%" class="central-content">
                    <a class="btn btn-success" asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="btn btn-danger" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@user.Id">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="table-footer">
        <p>Showing @(((Model.PageIndex) * Model.ItemCountPerPage) + 1) to @if ((Model.PageIndex + 1) * Model.ItemCountPerPage < Model.TotalCount)
                                                                           {
                                                                               @((Model.PageIndex + 1) * Model.ItemCountPerPage)
                                                                           }
                                                                           else
                                                                           {
                                                                               @Model.TotalCount   
                                                                           }
            of @Model.TotalCount users</p>
        <p>Page @(Model.PageIndex + 1) of @(Math.Ceiling((double) Model.TotalCount / Model.ItemCountPerPage))</p>
        <form asp-action="DisplayUsers" asp-controller="Administration">
            <div class="num-items-per-page-main-block">
                <label class="num-items-per-page-label" asp-for="ItemCountPerPage"></label>
                <div class="num-items-per-page-block">
                    <div class="col-sm-10">
                        <input type="number" name="itemCountPerPage" class="form-control" min="1" max="100" asp-for="ItemCountPerPage" />
                    </div>
                </div>
            </div>
            <div class="pages-block">
                <input asp-for="PageIndex" name="pageIndex" id="NumPage" type="hidden" value="@Model.PageIndex"/>

                <partial name="_PaginationPartial" />
            </div>
        </form>
    </div>
</div>
